* {box-sizing:border-box;}
body {background-color: #FFF;}

.bgimg {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    z-index:-1;
    opacity:1;
}

#wikipedia-links{
    padding-left: 0;
}

.greeting {
    color:black;
    text-shadow: 1px 1px 3px rgba(255,255,255, .5);
    text-align: center;
}

.wikipedia-container {
    background-color: rgba(255,255,255,0.7);
}

.nytimes-container {
    background-color: rgba(255,255,255,0.7);
}

.article-list {
    margin: 0;
    padding: 0;
}

.fixwidth {
    max-width: 600px;
    border: 1px solid #ddd;
}

p.responsive, ul, li {
 font-size: 0.9rem;
}

.article {
    list-style-type: none;
    padding:10px 0;
    border-top: 1px solid #CCC;
}
.article:first-child {
    border-top:none;
}

.btn-primary:hover {
    border-color: transparent !important;
}

.btn {
    border-radius: 3px;
}
.form-inline .form-control {
    width: 100%;
    display: flex;
    padding: 0.6rem 0;
}